<template>
  <div>
    <label v-if="label">{{ label }}</label>
    <input :value="value" v-on="listeners" v-bind="$attrs" />
  </div>
</template>

<script>
import { formFieldMixin } from '@/mixins/formFieldMixin.js'

export default {
  mixins: [formFieldMixin],
  computed: {
    listeners() {
      return {
        ...this.$listeners,
        input: this.updateValue
      }
    }
  }
}
</script>
